In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from scipy import stats

df_2004 = pd.read_stata('usu_individual_T104.dta', convert_categoricals=False)
df_2024 = pd.read_excel('usu_individual_T124.xlsx')

df_2004.columns = df_2004.columns.str.upper()
df_2024.columns = df_2024.columns.str.upper()
columnas_comunes = df_2004.columns.intersection(df_2024.columns)

df_2004_filtrado = df_2004[columnas_comunes]
df_2024_filtrado = df_2024[columnas_comunes]
df_combinado = pd.concat([df_2004_filtrado, df_2024_filtrado], ignore_index=True)

df_eph_nea = df_combinado[df_combinado['REGION'] == 41].copy()

# Variable EDAD2
if 'CH06' in df_eph_nea.columns:
    df_eph_nea['EDAD2'] = np.square(df_eph_nea['CH06'])
    print("Variable 'edad2' añadida exitosamente.")
else:
    print("No se encontró la columna 'CH06'.")

# Variable EDUC
def calcular_educ(row):
    if row['CH10'] == 1:
        if row['CH14'] in [98, 99]:
            return 6
        if row['CH12'] == 1:
            return 0
        elif row['CH12'] == 2:
            return row['CH14']
        elif row['CH12'] == 3:
            return row['CH14']
        elif row['CH12'] == 4:
            return 6 + row['CH14']
        elif row['CH12'] == 5:
            return 9 + row['CH14']
        elif row['CH12'] == 6:
            return 12 + row['CH14']
        elif row['CH12'] == 7:
            return 12 + row['CH14']
        elif row['CH12'] == 8:
            return 17 + row['CH14']
        elif row['CH12'] == 9:
            return row['CH14']
        else:
            return 0
    elif row['CH10'] == 2:
        if row['CH13'] == 1:
            if row['CH14'] in [98, 99]:
                return 6
            elif row['CH12'] == 1:
                return 0
            elif row['CH12'] == 2:
                return 6
            elif row['CH12'] == 3:
                return 9
            elif row['CH12'] == 4:
                return 12
            elif row['CH12'] == 5:
                return 12
            elif row['CH12'] == 6:
                return 15
            elif row['CH12'] == 7:
                return 17
            elif row['CH12'] == 8:
                return 18
            elif row['CH12'] == 9:
                return 6
            else:
                return 0
        elif row['CH13'] == 2:
            if row['CH14'] in [98, 99]:
                return 6
            elif row['CH12'] == 1:
                return 0
            elif row['CH12'] == 2:
                return row['CH14']
            elif row['CH12'] == 3:
                return row['CH14']
            elif row['CH12'] == 4:
                return 6 + row['CH14']
            elif row['CH12'] == 5:
                return 9 + row['CH14']
            elif row['CH12'] == 6:
                return 12 + row['CH14']
            elif row['CH12'] == 7:
                return 12 + row['CH14']
            elif row['CH12'] == 8:
                return 17 + row['CH14']
            elif row['CH12'] == 9:
                return row['CH14']
            else:
                return 0
    elif row['CH10'] == 3:
        return 0
    else:
        return 0

for col in ['CH10', 'CH12', 'CH13', 'CH14']:
    if col in df_eph_nea.columns:
        df_eph_nea[col] = pd.to_numeric(df_eph_nea[col], errors='coerce')

df_eph_nea['EDUC'] = df_eph_nea.apply(calcular_educ, axis=1)
print("Variable 'educ' añadida exitosamente.")

# Variable SALARIO_SEMANAL
SMVM2004 = 350
SMVM2024 = 202800
pp = round(SMVM2024 / SMVM2004, 2)

if 'ANO4' in df_eph_nea.columns and 'ESTADO' in df_eph_nea.columns and 'P21' in df_eph_nea.columns:
    condiciones_2004 = (df_eph_nea['ANO4'] == 2004) & (df_eph_nea['ESTADO'] == 1) & (df_eph_nea['P21'] > 0)
    condiciones_2024 = (df_eph_nea['ANO4'] == 2024) & (df_eph_nea['ESTADO'] == 1) & (df_eph_nea['P21'] > 0)

    df_eph_nea.loc[condiciones_2004, 'SALARIO_SEMANAL'] = ((df_eph_nea.loc[condiciones_2004, 'P21'] * pp) / 21.65) * 5
    df_eph_nea.loc[condiciones_2024, 'SALARIO_SEMANAL'] = (df_eph_nea.loc[condiciones_2024, 'P21'] / 21.65) * 5
    print("Variable 'salario_semanal' añadida exitosamente.")
else:
    print("Faltan columnas necesarias para calcular 'salario_semanal'.")

# Variable HORASTRAB
variables_a_limpiar = ['PP3E_TOT', 'PP3F_TOT']
for var in variables_a_limpiar:
    if var in df_eph_nea.columns:
        df_eph_nea[var] = df_eph_nea[var].replace([99, 999, 9999], np.nan)

if all(col in df_eph_nea.columns for col in variables_a_limpiar):
    df_eph_nea['HORASTRAB'] = df_eph_nea['PP3E_TOT'] + df_eph_nea['PP3F_TOT']
    print("Variable 'horastrab' añadida exitosamente.")
else:
    print("Faltan columnas necesarias para calcular 'horastrab'.")

df_eph_nea.to_excel('EPH_NEA_2004_2024.xlsx', index=False)
print("Archivo final guardado con todas las variables añadidas.")

respondieron = df_eph_nea[df_eph_nea['ESTADO'].notna() & (df_eph_nea['ESTADO'] != 0)]
norespondieron = df_eph_nea[(df_eph_nea['ESTADO'].isna()) | (df_eph_nea['ESTADO'] == 0)]

respondieron.to_excel('respondieron.xlsx', index=False)
norespondieron.to_excel('norespondieron.xlsx', index=False)

Variable 'edad2' añadida exitosamente.
Variable 'educ' añadida exitosamente.
Variable 'salario_semanal' añadida exitosamente.
Variable 'horastrab' añadida exitosamente.
Archivo final guardado con todas las variables añadidas.

In [5]:
# Dimensión de la base
print("Dimensión del dataframe:", respondieron.shape)

# Variables e información
print(respondieron.info())

respondieron.head()
respondieron.tail()

Dimensión del dataframe: (10182, 176)
<class 'pandas.core.frame.DataFrame'>
Index: 10182 entries, 17040 to 91157
Columns: 176 entries, CODUSU to HORASTRAB
dtypes: float64(142), object(34)
memory usage: 13.7+ MB
None

,CODUSU,NRO_HOGAR,COMPONENTE,H15,ANO4,TRIMESTRE,REGION,MAS_500,AGLOMERADO,PONDERA,...,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,EDAD2,EDUC,SALARIO_SEMANAL,HORASTRAB
91153,TQRMNOSWRHKOLOCDEGIBJ00861592,1.0,1.0,1.0,2024.0,1.0,41.0,N,12.0,368.0,...,3,3.0,4,NaN,3.0,3,2704.0,12.0,71593.533487,0.0
91154,TQRMNOSWRHKOLOCDEGIBJ00861592,1.0,2.0,1.0,2024.0,1.0,41.0,N,12.0,368.0,...,3,3.0,4,NaN,3.0,3,1764.0,6.0,NaN,NaN
91155,TQRMNOSWRHKOLOCDEGIBJ00861592,1.0,3.0,1.0,2024.0,1.0,41.0,N,12.0,368.0,...,3,3.0,4,NaN,3.0,3,361.0,11.0,NaN,NaN
91156,TQRMNOSWRHKOLOCDEGIBJ00861592,1.0,4.0,1.0,2024.0,1.0,41.0,N,12.0,368.0,...,3,3.0,4,NaN,3.0,3,256.0,10.0,NaN,NaN
91157,TQRMNOSWRHKOLOCDEGIBJ00861592,1.0,5.0,0.0,2024.0,1.0,41.0,N,12.0,368.0,...,3,3.0,4,NaN,3.0,3,16.0,0.0,NaN,NaN

In [8]:
# Hay duplicados?
print("Duplicados:", respondieron.duplicated().sum())

# Hay valores faltantes?
print("\n Missings:\n", respondieron.isnull().sum()) # conteo

Duplicados: 0

 Missings:
 CODUSU                0
NRO_HOGAR             0
COMPONENTE            0
H15                   0
ANO4                  0
                   ...
ADECCFR               0
EDAD2                 0
EDUC                  1
SALARIO_SEMANAL    6715
HORASTRAB          2733
Length: 176, dtype: int64

In [19]:
variables = ['CH06','EDAD2', 'EDUC', 'P21', 'SALARIO_SEMANAL', 'HORASTRAB']

for anio in [2004, 2024]:
    df_anio = respondieron[respondieron['ANO4'] == anio]
    y = (df_anio['ESTADO'] == 2).astype(int)
    X_df = df_anio[variables].copy()
    X_df.insert(0, 'constante', 1)

    data = pd.concat([X_df, y.rename('target')], axis=1)
    data = data.dropna(subset=['target'])

    train, test = train_test_split(data, test_size=0.3, random_state=444)

    columnas = ['constante'] + variables
    tabla_dif = pd.DataFrame(index=columnas)

    for var in columnas:
        train_valid = train[[var]].dropna()
        test_valid = test[[var]].dropna()

        tabla_dif.loc[var, 'N train'] = train_valid.shape[0]
        tabla_dif.loc[var, 'Mean train'] = train_valid[var].mean()
        tabla_dif.loc[var, 'sd train'] = train_valid[var].std()

        tabla_dif.loc[var, 'N test'] = test_valid.shape[0]
        tabla_dif.loc[var, 'Mean test'] = test_valid[var].mean()
        tabla_dif.loc[var, 'sd test'] = test_valid[var].std()

        if len(train_valid[var]) > 1 and len(test_valid[var]) > 1:
            t_test = stats.ttest_ind(train_valid[var], test_valid[var], equal_var=False, nan_policy='omit')
            tabla_dif.loc[var, 't-test'] = t_test.statistic
            tabla_dif.loc[var, 'p-value'] = t_test.pvalue
        else:
            tabla_dif.loc[var, 't-test'] = None
            tabla_dif.loc[var, 'p-value'] = None

    columnas_a_redondear = ['Mean train', 'Mean test', 'sd train', 'sd test', 't-test', 'p-value']
    tabla_dif[columnas_a_redondear] = tabla_dif[columnas_a_redondear].round(2)

    tabla_dif.to_excel(f'Tabla de diferencia de medias_{anio}.xlsx')
    print(f"Exportado para el año {anio} desde respondieron")

Exportado para el año 2004 desde respondieron
Exportado para el año 2024 desde respondieron

C:\Users\andre\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:523: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)
C:\Users\andre\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:523: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)